{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141253078-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141253078-2');
</script>
  <title>Billntrade</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% block title %}

  {% endblock %}
  </title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href='/static/img/favicon-32x32.png'>
  <!-- Custom styles for this template -->
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light py-0 class">
        <a href=""><img src="{% static 'img/Logo.png' %}" alt="" class="img-fluid brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex ml-auto">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{request.user}}</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'logout-view' %}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      {% include 'partials/_bus_details.html' %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        {% block content %}

        <div class="card mt-3 style=width: 18rem;">

          <div class="card">
            <div class="col-auto mt-3">
              <h6>Add business</h6>
            </div>
            <div class="card-body">
              <form action="{% url 'business-details' %}" method="POST">

                {% include 'partials/_messages.html' %}
                {% csrf_token %}

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="Addressline1">Business name:</label>
                    <input type="text" class="form-control" name="businessname" id="businessField"
                      value="{{values.businessname}}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="Addressline1">Business address line 1:</label>
                    <input type="text" class="form-control" name="address1" id="address1Field"
                      value="{{values.address1}}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="Addressline2">Business address line 2:</label>
                    <input type="text" class="form-control" name="address2" id="address2Field"
                      value="{{values.address2}}">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="Town">Town:</label>
                    <input type="text" class="form-control" name="town" id="townField" value="{{values.town}}">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="City">City:</label>
                    <input type="text" class="form-control" name="city" id="cityField" value="{{values.city}}">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="County">County:</label>
                    <input type="text" class="form-control" name="county" id="countyField" value="{{values.county}}">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="Postcode">Postcode:</label>
                    <input type="text" class="form-control" name="postcode" id="postcodeField"
                      value="{{values.postcode}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Business">Main trade:</label>
                    <input type="text" class="form-control" name="maintrade" id="maintradeField"
                      value="{{values.maintrade}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="About">About my business:</label>
                    <input type="test" class="form-control" name="aboutbusiness" id="aboutbusinessField"
                      value="{{values.aboutbusiness}}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="Website">Website address:</label>
                    <input type="url" class="form-control" name="website" id="websiteField"
                      placeholder="https://www.example.com" value="{{values.website}}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="Chn">Companies house number:</label>
                    <input type="number" class="form-control" name="chn" id="chnField" placeholder="12345678"
                      value="{{values.chn}}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="VAT">VAT number</label>
                    <input type="text" class="form-control" name="vat" id="vatField" placeholder="GB12345678"
                      value="{{values.vat}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Date">Date created:</label>
                    <input type="text" class="form-control" name="datecreated" id="datecreated"
                      value="{{values.datecreated}}" readonly>
                    <small id="datecreatedHelpBlock" class="form-text text-muted">
                      The creation date of the business record is automatically assigned on save.
                    </small>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="BusinessID">Business ID:</label>
                    <input value="{{ busid }}" type="text" class="form-control" name="businessid" id="businessidField"
                      value="{{values.businessid}}" readonly>
                    <small id="businessiDHelpBlock" class="form-text text-muted">
                      Your business-ID number is automatically generated and assigned on save.
                    </small>
                  </div>
                  <div class="form-group row">
                    <div class="col-auto my-1">
                      <button type="submit" value="submit" style="color: black"  class="btn btn-outline-primary">Add business</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
          integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.feather.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="{% static 'js/min.js' %}"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/function.js' %}"></script>
        <script src="https://unpkg.com/feather-icons@4.10.0/dist/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
   feather.replace();

   $('button').click(function(){
      $('.alert').html('<i data-feather="activity"></i>');
      feather.replace();
   });

});

     document.getElementById('chnField').addEventListener('keydown', function(e) {
                            var key   = e.keyCode ? e.keyCode : e.which;

                            if (!( [8, 9, 13, 27, 46, 110, 190].indexOf(key) !== -1 ||
                                (key == 65 && ( e.ctrlKey || e.metaKey  ) ) || 
                                (key >= 35 && key <= 40) ||
                                (key >= 48 && key <= 57 && !(e.shiftKey || e.altKey)) ||
                                (key >= 96 && key <= 105)
                            )) e.preventDefault();
                        });
                        $('#chnField').prop('minLength', 8);
                        $('#chnField').prop('maxLength', 8);

</script>

<style>
    .brand {
        height: auto;
        width: auto;
        max-height: 72px;
        max-width: 250px;
    }
  </style>
  
    </body>
{% endblock %}

</html>