{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141253078-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141253078-2');
</script>
  <title>Billntrade</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="icon" type="image/png" href='/static/img/favicon-32x32.png'>

    {% block title %}

    {% endblock %}
    </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href='static/img/favicon-32x32.png'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light py-0 class">
    <a href=""><img src="{% static 'img/Logo.png' %}" alt="" class="img-fluid brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex ml-auto">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                </ul>
                <ul class="navbar-nav ml-auto mr-5">
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user}}</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'logout-view' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% include 'partials/_bus_quote.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block content %}

                <div class="card mt-3 style=width: 18rem;">

                    <div class="card">
                        <div class="col-auto mt-3">
                            <h6>Create business quote</h6>

                            <div class="card-body">
                                <form id='quote-form' action="{% url 'create-quote-customer' quote.id %}" method="POST">

                                    {% include 'partials/_messages.html' %}
                                    {% csrf_token %}

                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="QuoteID">RFQ ID:</label>
                                            <input type="text" class="form-control" name="RFQid" id="RFQField"
                                                value="{{values.Quoteid_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="indent"></label>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Status">Status:</label>
                                            <input type="text" class="form-control" name="status" id="statusField"
                                                value="{{values.Status}}" readonly>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="Date">Date RFQ created:</label>
                                            <input type="text" class="form-control" name="datecreated" id="dateField"
                                                value="{{values.Datecreated_custquote}}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="Title">Title:</label>
                                            <input type="text" class="form-control" name="title" id="titleField"
                                                value="{{values.Title_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="Firstname">Firstname:</label>
                                            <input type="text" class="form-control" name="firstname" id="firstnameField"
                                                value="{{values.Firstname_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="Surname">Surname:</label>
                                            <input type="text" class="form-control" name="surname" id="surnameField"
                                                value="{{values.Surname_custquote}}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="Custaddress1">Address 1:</label>
                                            <input type="text" class="form-control" name="Address1_custquote"
                                                id="Custaddress1Field" value="{{values.Address1_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Custaddress2">Address 2:</label>
                                            <input type="text" class="form-control" name="Address2_custquote"
                                                id="Custaddress2Field" value="{{values.Address2_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Custtown">Town:</label>
                                            <input type="text" class="form-control" name="Town_custquote"
                                                id="CusttownField" value="{{values.Town_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Custcity">City:</label>
                                            <input type="text" class="form-control" name="City_custquote"
                                                id="CustcityField" value="{{values.City_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Custcounty">County:</label>
                                            <input type="text" class="form-control" name="County_custquote"
                                                id="CustcountyField" value="{{values.County_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Custpostcode">Postcode:</label>
                                            <input type="text" class="form-control" name="Postcode_custquote"
                                                id="CustpostcodeField" value="{{values.Postcode_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Custareaofwork">Area of work:</label>
                                            <input type="text" class="form-control" name="Areaofwork_custquote"
                                                id="CustareaofworkField" value="{{values.Areaofwork_custquote}}"
                                                readonly>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Custbriefdescription">Brief description:</label>
                                            <input type="text" class="form-control" name="Briefdescription_custquote"
                                                id="CustbriefdescriptionField"
                                                value="{{values.Briefdescription_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="Custdetaileddescription">Detailed description:</label>
                                            <textarea type="text" class="form-control" rows="4" name="Detaileddescription_custquote"
                                                id="CustdetaileddescriptionField" readonly>{{values.Detaileddescription_custquote}}</textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="Custcommets">Additional comments:</label>
                                            <input type="text" class="form-control" name="Comments_custquote"
                                                id="CustcommentsField" value="{{values.Comments_custquote}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Exprinterestid">Expression of int. ID:</label>
                                            <input type="text" class="form-control" name="expressionquoteid"
                                                id="ExpressionquoteidField" value="{{values.Expressionquoteid}}"
                                                readonly>
                                        </div>
                                        <div class="form-group col-md-7">
                                            <label for="indent"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="DateexprintField">Date business created expr. int:</label>
                                            <input type="text" class="form-control" name="datecreated"
                                                id="DateexprintField" value="{{values.Datecreated}}" readonly>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="Busexprint">Business expression interest:</label>
                                            <input type="text" class="form-control" name="Comments"
                                                id="BusexprintsField" value="{{values.Comments}}" readonly>
                                        </div>
                                        <br>
                                        <div class="form-group col-md-9">
                                            <label for="indent"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="Date">Date customer created expr. int:</label>
                                            <input type="text" class="form-control" name="customercreatedexprdate"
                                                id="dateField" value="{{values.Date_cust_expint_created}}" readonly>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="Custexprint">Customer expression of interest comments:</label>
                                            <input type="text" class="form-control" name="Customercomments"
                                                id="CustexprintsField" value="{{values.Customercomments}}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="QuoteID">Quote ID:</label>
                                            <input value="{{ quote_id }}" type="text" class="form-control"
                                                name="quoteid" id="quoteidField" value="{{values.Quoteid_busquote}}"
                                                readonly>
                                            <small id="QuoteiDHelpBlock" class="form-text text-muted">
                                                Quote-ID autogenerated
                                            </small>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="indent"></label>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Status">Status:</label>
                                            <input type="text" class="form-control" name="status" id="statusField"
                                                value="{{values.Status}}" readonly>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="Date">Date quote created:</label>
                                            <input type="text" class="form-control" name="datequotecreated"
                                                id="dateField" value="{{values.Date_quote_created}}" readonly>
                                            <small id="DateiDHelpBlock" class="form-text text-muted">
                                                Date autogenerated on save
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="indent"></label>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="Title">Title:</label>
                                            <input type="text" class="form-control" name="title_bus" id="TitleField"
                                                value="{{values.Title}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Firstname">Firstname:</label>
                                            <input type="text" class="form-control" name="firstname_bus"
                                                id="firstnameField" value="{{values.Firstname}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Surname">Surname:</label>
                                            <input type="text" class="form-control" name="surname_bus" id="SurnameField"
                                                value="{{values.Surname}}" readonly>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="Mobile">Mobile:</label>
                                            <input type="text" class="form-control" name="mobile_bus" id="MobileField"
                                                value="{{values.Mobile}}" readonly>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="Email">Email:</label>
                                            <input type="email" class="form-control" name="email_bus" id="EmailField"
                                                value="{{values.Email}}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="Address1">Address 1:</label>
                                            <input type="text" class="form-control" name="bus_address1"
                                                id="Busaddress1Field" value="{{values.Address1}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Address2">Address 2:</label>
                                            <input type="text" class="form-control" name="bus_address2"
                                                id="Busaddress2Field" value="{{values.Address2}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Town">Town:</label>
                                            <input type="text" class="form-control" name="bus_town" id="BustownField"
                                                value="{{values.Town}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="City">City:</label>
                                            <input type="text" class="form-control" name="bus_city" id="BuscityField"
                                                value="{{values.City}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="County">County:</label>
                                            <input type="text" class="form-control" name="bus_county"
                                                id="BuscountyField" value="{{values.County}}" readonly>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Postcode">Postcode:</label>
                                            <input type="text" class="form-control" name="bus_postcode"
                                                id="BuspostcodeField" value="{{values.Postcode}}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="Areaofwork">Area of work:</label>
                                            <input type="text" class="form-control" name="areaofwork"
                                                id="areaofworkField" value="{{values.Areaofwork_busquote}}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Briefdescription">Brief description:</label>
                                            <input type="text" class="form-control" name="briefdescription"
                                                id="briefdescriptionField" value="{{values.Briefdescription_busquote}}">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleFormControlTextarea1">Detailed description:</label>
                                            <textarea type="text" class="form-control" rows="4" name="detaileddescription"
                                                id="detaileddescriptionField">{{values.Detaileddescription_busquote}}</textarea>        
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleFormControlTextarea2">Additional comments:</label>
                                            <input type="text" class="form-control" rows="2" name="comments"
                                                id="commentsField" value="{{values.Comments_busquote}}"></input>
                                        </div>
                                    </div>
                                    <div class="form-group float-right">
                                        <label for="Subtotal">Subtotal:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">£</span>
                                            </div>
                                            <input type="number" id="id_subtotal" class="form-control" name="subtotal"
                                            step="0.01" min="0" max="1000000000" value="{{values.Subtotal|default_if_none:'0'}}"></input>
                                        </div>
                                        <label for="Discount">Discount:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">%</span>
                                            </div>
                                            <input type="number" id="id_discount" class="form-control" name="discount" step="0" min="0" max="100"
                                                value="{{values.Discount}}"></input>
                                        </div>
                                        <label for="Subtotalafterdisc">Subtotal after discount:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">£</span>
                                            </div>
                                            <input type="number" id="id_discsubtotal" class="form-control"
                                                name="discsubtotal"
                                                    value="{{values.Subtotalafterdisc|default_if_none:'0'}}"
                                                readonly></input>
                                        </div>
                                        <label for="VAT">VAT:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">%</span>
                                            </div>
                                            <input type="number" id="id_vat" class="form-control" name="vat" step="0" min="0" max="100"
                                                value="{{values.VAT}}"></input>
                                        </div>
                                        <label for="Total">Total:</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">£</span>
                                            </div>
                                            <input type="text" id="id_total" class="form-control" name="total"
                                                value="{{values.Total|default_if_none:'0'}}" readonly></input>
                                        </div>
                                        <div class="form-row"></div>
                                        <div class="col-auto my-1">
                                            <button type="submit" value="submit"
                                            style="color: black"  class="btn btn-outline-primary btn-block">Finalise
                                                quote</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="mb-3"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.feather.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="{% static 'js/min.js' %}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/function.js' %}"></script>
    <script src="https://unpkg.com/feather-icons@4.10.0/dist/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            feather.replace();

            $('button').click(function () {
                $('.alert').html('<i data-feather="activity"></i>');
                feather.replace();
            });

        });
        $(function () {
            $("#addCreatorButton").on('click', function () {
                console.log($(this).attr("data-key"))
            })
            $("#id_subtotal").on('keyup', function () {
                let sub = $(this).val().split(',').join('');
                let discount = $("#id_discount").val();
                let vat = $("#id_vat").val();
                if (sub === undefined || sub === '') {
                    sub = 0;
                }
                if (discount === undefined || sub === '') {
                    discount = 0;
                }
                if (vat === undefined || vat == '') {
                    vat = 0;
                }
                let subtotal = sub - (sub * (discount / 100))
                $("#id_discsubtotal").val(subtotal);
                let total = subtotal + ((vat / 100 * subtotal));
                $("#id_total").val(total.toFixed(2));
            })
            $("#id_discount").on('keyup', function () {
                let discount = $(this).val();
                let sub = $("#id_subtotal").val().split(',').join('');
                let vat = $("#id_vat").val();
                if (sub === undefined || sub === '') {
                    sub = 0;
                }
                if (discount === undefined || sub === '') {
                    discount = 0;
                }
                if (vat === undefined || vat == '') {
                    vat = 0;
                }
                let subtotal = sub - (sub * (discount / 100))
                $("#id_discsubtotal").val(subtotal);
                let total = subtotal + ((vat / 100 * subtotal));
                $("#id_total").val(total.toFixed(2));
            })
            $("#id_vat").on('keyup', function () {
                let vat = $(this).val();
                let discount = $("#id_discount").val();
                let sub = $("#id_subtotal").val().split(',').join('');
                if (sub === undefined || sub === '') {
                    sub = 0;
                }
                if (discount === undefined || sub === '') {
                    discount = 0;
                }
                if (vat === undefined || vat == '') {
                    vat = 0;
                }
                let subtotal = sub - (sub * (discount / 100))
                $("#id_discsubtotal").val(subtotal);
                let total = subtotal + ((vat / 100 * subtotal));
                $("#id_total").val(total.toFixed(2));
            })

            $('#quote-form').submit(function(e){
                var value = $('#id_subtotal').val(); 
                if (value == '') {
                    $('#id_subtotal').val(0.0); 
                }

            });
        })
         
    </script>

<style>
        .brand {
            height: auto;
            width: auto;
            max-height: 72px;
            max-width: 250px;
        }
</style>
</body>
{% endblock %}

</html>