{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Billntrade</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141253078-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141253078-2');
</script>


    <!--support working-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="icon" type="image/png" href='/static/img/favicon-32x32.png'>

    <!-- IcoFonts -->
    <link rel="stylesheet" src="{% static 'css/icofont.min.css' %}">
    <link rel="stylesheet" src="{% static 'css/icofont.css' %}">
  

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/landstyle.css' %}" rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
        <a href="{% url 'home' %}"><img src="{% static '/img/Logo.png' %}" alt="" class="img-fluid brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex ml-auto">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Customer Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login-view' %}">Customer Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'business-register' %}">Business Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'business-login' %}">Business Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee-login' %}">Employee Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ======= End header Section ======= -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container pb50">
        <div class="row">
            <div class="col-md-9 mb40">
                <article>
                        <img src="{% static '/img/plumbing.jpg' %}" class="responsive" alt="picture of piping, plumbimg infrastrcture"> 
                    <div class="post-content">
                        <h1>Essential tips to help you choose a plumber</h1>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">Tom Cakebread</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">15 July 2021</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> <a href="#">Tags</a>
                            </li>
                        </ul>

                        <h2>Find a plumber near me</h2>

                        <h3>1. Research plumbers</h3>

                        <h4>This may seems obvious, but a survey conducted with general plumbers in Halesowen, Dudley, 
                            threw up some interesting results. The obejctive of the survey was to discover how plumbers found work in the area </h4>
                        
                        <h4>when plumbers were asked by customers to quote for work, plumbers on average said 40% of the enquiries they received, were in locations which were 
                            outside their catchment area. Would consider any travel viable geography for them providing it 
                            made financial and logistical sense. Typically when asked why they received such a high number of these types of requests, 
                            the first response was the fact that general plumbers also worked as emergency plumbers on call, or
                            supported letting agency contracts. 
                            
                        <h3>2. What is important for customers when choosing a plumber</h3>    
                            
                        <h4>Many of these outside area requests, were in response to customers needing 'emergency' plumbers, 
                            in an area, If a customer had an emergency and they could not get a plumber locally, due to availability of local plumbers or 
                            local plumbers being overbooked. Being responsive within 24 hours to an emergency, is considered hugely important to customers, and customers purchase insurance policies 
                            that allow them access to this kind of response in emergency plumbers, in an emergency such as burst pipe, broken boiler, or a domestic
                            plumbing issues that causes distress are catalysts for need for customers to actievly initiate a policy of insurance 
                            that enables responsive plumbers to at least provide and interim fix, until a permanenet fix can be implemented.
                            
                        <h3>3. Emergency plumbers near you</h3>

                        <h4>Plumbers have been contracted and/or are retained by insurance underwriters to respond to policy holders requests 
                            for emergency repairs to pipes, leaks, lack of water, or some other plumbing related emergency, like flooding or frozen piping.
                            Other clause covered by the policy could include georgraphy covered, hours the policy can be initiated, 
                            and certain qualifications or criteria for contracting to the underwriter</h4>
                            
                        <h3>4. What does an emergency plumber want to consider when being retained by an underwriter</h3> 
                            
                            <h4>- They need to consider</h4>
                            
                            <h4>- How far they are willing to travel to support an emergency callout</h4>
                            <h4>- For general plumbers, acting in an emergency capacity, the value of the job they do
                            <h4>- How much they are paid, or the earning potential vs. the time and effort required
                            <h4>- The hours, days and times they would wnat to work in an emegency capacity</h4>   
                            <h4>- How has covid affected how and where they work, vaccinations, face masks, PCR tests etc</h4> 
                            <h4>- Contactability by the client, or policy holder</h4>
                            <h4>- Insurances, warranties and other documentations, and their validity can be demonstrated</h4>
                            <h4>- Association with trade bodies who can verify the work that you are demontrably able to carry out</h4>
                            <h4>- Qualifications and certification and their validity</h4>
                            <h4>- Apprentices and employees who might attend the jobs, their training level and insurances to cover them</h4>
                            <h4>- Do market conditions or regulation, favour emergency response work</h4>

                        <h3>5. What is a general plumber</h3>

                        <h4>In every industry there are always going to be concerns about choosing a tradesman and this includes
                            the plumbing industry. After all, they are working on something that requires a certain level of expertise 
                            and know how. Imagine having a busrt pipe, (once you turn off the main water valve), a plumber needs to be 
                            able to provide you with running water, for cleaning, heating, and potentially consumption. 
                            These are essential dependencies and if the plumber can't fix the problem, it can have a more profound impact,
                            on other dependent activities such as getting ready for work, caring for the young, or heating the property, to 
                            name a few examples.</h4>
                            
                        <h4>The more complex the problem, the more reliant we are  on a plumber fixing the issue right way, first time round. The good news is, to some extent you can be reassured
                            'general' plumbers are actually very skilled engineers who bring with them a very broad 
                            engineering skillset which includes, technical, theory and experience in various home plumbing 
                            application deisgns, or water systems, or machines such as boliers and water tanks.</h4>


                        <h4>Although their main responsibility can be described as maintaining water supply, water distribution, 
                            cooling, heating and sanitization, which they do through the installing, maintaining, replacing, 
                            converting and repairing of piping, fixings and white metal units. Their work and expertise in 
                            maintaining plumbing infrastructure is essential for both domestic, commercial and public health. It should
                            be noted that this scope includes sanitization.</h4>

                        <h4>Plumbers like most skilled trades, can work across various industries, businesses and homes, their services 
                            are invaluable to the economy and the breadth and depth of work varies from servicing, repairing, building or fitting. 
                            They can be expected to work on drainage systems, water supplies to associated appliances or water 
                            dispensing unit. They can even be expected to work on air conditioning and ventilation systems, 
                            as well as be expected to cut, join and bend pipes and fittings, this means Like many skilled trades plumbing 
                            offers a range of opportunities in work and lifestyle choice for general plumbers in the trade.</h4>

                        <h3>6. The skilled and certified plumber<h3>

                        <h4>A good plumber will be both accredited and trained, by either a guild, as well as have some practical 
                            on the job experience. Certifications are also a pre-requisite for an approved plumber and these can 
                            be acquired through exams. Being accredited is important as it not only shows both a commitment to performing 
                            a job, but also, being evaluated through work associated with that job by peer professionals. Having been 
                            proven to have a demonstrable level of competency in the work in essential for the industry as a whole, as 
                            standards do matter. The biggest concentration of plumbers is in London, and as is unsurprising most of the guilds in the UK 
                            are based in London.</h4>

                        <h3>7. Finding a good plumber<h3>  
                            
                        <h4>Word of mouth</h4>

                        <h4>Traditionally word of month is the most common method by which many geenral plumbers traditionally find work 
                            and grow their business. Word of mouth now extends to social media platforms and forums where people 
                            are able to actively recommend general plumbers in areas. The emergence of mobile applications, 
                            can amplify the word of mouth messaging that supports how plumbers both network and find work.</h4>

                        <h4>Power of social media</h4>
                            
                        <h4>The power of social media cannot be underestimated, in the search for plumbing services, but equally the capability 
                            for plumbers to digitally manage their businesses, in terms of quotes, notes, invoices, cashflow, 
                            revenue etc. Web based platforms like <a href="https://billntrade.com" class= "billntrade">billntrade.com</a> are fast becoming popular as the goto place 
                            for customers to connect with general or emergency plumbers in their local area. 
                            <a href="https://billntrade.com" class= "billntrade">billntrade.com</a> as a digital platforom enables customers to quickly send an RFQ to a plumber or the market place,  
                            which enables a wide range of plumbers to see the RFQ and respond to it. Having the capability 
                            to quickly place and RFQ and receive interst in a short space of time, reduces the time spent in a 
                            distressed situation as well as the reponsiveness required by customers.</h4>
                         
                        <h4>Digital broker platforms</h4>

                        <h4>At <a href="https://billntrade.com" class= "billntrade">billntrade.com</a> rapid access to range of 
                            general plumbers or emergency plumbers, is an essential part of the information structure and workflow, supported 
                            by a simplification of the communication process between customers and plumbers. 
                            It is recommended that general plumbers have an online social media presence as well as use solutions like 
                            <a href="https://billntrade.com" class= "billntrade">billntrade.com</a> to manage the quoting, lead management and invoicing, for work, in the most effective 
                            way for them and their businesses. Finally, advertising in local papers, or on bulletin boards in strategic locations 
                            can be another way, but this can be expensive and is much harder to guarantee work or track and measure if the return on 
                            investment is justified, unlike platforms like <a href="https://billntrade.com" class= "billntrade">billntrade.com</a> which offer reach, engagement and 
                            measurable ROI, to compliment search engine marketing campaigns, which can be measured in terms of returns and costs.</h4>

                        <h3>8. Credentials are everything</h3>

                        <h4>This is an important step which customer should undertake, particularly if they are considering hiring 
                            a general plumber for the first time. Reputable plumbers will belong to an affiliated trade body, 
                            responsible for maintaining standards in the trade, technical competency, customer service and government 
                            collaboration. These bodies are:</h4>

                            <h4>-	The Chartered Institute of Plumbing and Heating Engineering (CIPHE)</h4>
                            <h4>-	The Association of Plumbing and Heating Contractors (APHC)</h4>
                            <h4>-	Scottish and Northern Ireland Plumbing Employer’s Federation (SNIPEF)<h4>
                            <h4>-	FairTrades Plumber’s Association<h4>
                            <h4>-	CORGI (Council of Registered Gas Installers)<h4>
                            <h4>-	The Gas Safe Register<h4>   

                        <h3>9. Invitation to quote</h5> 

                        <h4>It is also best to check references, with any referral,
                            you can check the profile of general plumbers and verify their business credentials, 
                            also when you submit a no obligation Request for Quote (RFQ) to a general plumber, 
                            they can contact you via an expression of interest in a quote. The best bit about 
                            <a href="https://billntrade.com" class= "billntrade">billntrade.com</a> system, is your details are kept private, until you decide to formally submit 
                            an acceptance of quote, from your selected plumber. It is important to consider that before you contact 
                            the plumber, You are prepared with exploration questions, in order to verify they are really the 
                            right plumber you want to carry out the work. A good example of questions you can ask are given below.</h4>
                        
                            <h4>-	Where are they located (search e.g. find a plumber in London)</h4>
                            <h4>-	How long have they been trading</h4>
                            <h4>-	Which one of the trade bodies do they belong to<h4>
                            <h4>-	Have they done the type of work you are looking for before<h4>
                            <h4>-	Are they insured<h4>
                            <h4>-	Can they show you examples of their work<h4>    

                        <h3>10. Insurance</h3>

                        <h4>This is one of the most important topics to address when looking for a plumber, 
                            it is important that they have insurance cover, their policy should be valid and indate.
                            This is to ensure that you can trust that if anything were to go wrong they have liability cover
                            and a solution can be found through the insurers.</h4>

                        <h3>11. How to become a plumber</h3>

                        <h4>2020 has seen a lot of people seeking new challenges, wanting to leave their jobs to 
                            pursure a challenge that allows them more a better life balance, as well as discover new opportunities.
                            So, what if you want to make a career of plumbing. Before you become an emergency plmuber, or 24 hour plumber, there are a number of ways that you can become a general plumber 
                            and assuming you have the required qualifications and the experience, you can apply directly for a role with a reputed plumbing business. 
                            The process will usually include an interview, a review of your qualifications and a practical assessment.</h4>

                        <h3>12. The Apprentice route</h3>

                        <h4>It is possible to undertake an intermediate and advanced apprenticeship in plumbing. 
                            This can take up to 5 years to complete and you will need at least an English and Math’s GCSE, to be able to apply.
                            Most plumbers operate in metropolitan areas or cities, like you would find more plumbers in London, than you would in the wirral</h4>

                        <h4>For an intermediate apprenticeship, you will need 5 GCSEs grades (A* to C) or the equivalent, including English and Math’s.</h4>

                        <h4>To be able to apply for an advanced apprenticeship, you also need to be 16 or over by the end of the summer holidays, Living in England, 
                            Not in full-time education, Apprenticeships are ideal because they represent a mix of practical training on the job, with study.</h4>

                        <h4>Apprentices work alongside experienced and skilled plumbers, to gain specific skills and experience they need. 
                            You will earn a wage and receive holiday pay as well as get one day a week, which is dedicated to studying towards your plumbing qualifications.</h4>

                            <h4>Professional plumbing qualifications:</h4>
                                
                                <h4>I.	Level 3 Diploma in Plumbing and Housing<h4>
                                <h4>II.	Level 2 Diploma in Plumbing and Heating (QCF)</h4>
                                <h4>III. Awarded by City and Guilds of London institute</h4>
                                
                        <h4>Most of the above courses can be handled online and the student can set their own pace</h4>
                                
                        <h3>13. Routes to plumbing for people looking for a change</h3>
                                
                        <h4>People with no previous experience in plumbing, who are looking for a change in career and want to become a qualified plumber with 
                            recognized qualifications, will be required to complete three different types of training.</h4>
                                
                                <h4>I.	Practical (within a training center)</h4>
                                <h4>II.	Theory within a class based environment</h4>
                                <h4>III. Home study</h4>
                                
                        <h4>These courses will take you from being a novice to being a fully qualified plumber, and more importantly, 
                            will cover you for the following qualification</h4>
                                
                                <h4> -	City and Guilds level 2 or level 3 Diploma (6035) in plumbing studies and & BPEC water supply (water fittings) regulations 1999[/justify]</h4>
                                
                        <h4>Within the profession, you will also be awarded with and gain an NVQ level 3 diplomas, this is a hybrid structure of hands on knowledge transfer 
                            through theory and practical skills for your chosen trade. The practical aspects complement the knowledge gained from home learning and the course also 
                            helps you to become confident, safe and competent in the areas of plumbing in which the course covers.
                            There is an option on completion of the course to progress to an NVQ. This cannot be achieved at a training and assessment center, but by conducting on-site placement work.</h4>
                        
                        <h4>With these few tips, you  should be able to navigate finding a plumber in a well organised and
                            safe way, understand the route to plumbing and also be able to consider what you would require as a plumber 
                            or someone hiring a plumber.</h4>

                            <ul class="list-inline share-buttons">
                                    <li class="list-inline-item">Share Post:</li>
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/billntrade" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/billntrade_support_saas_1" class="social-icon-sm si-dark si-colored-instagram si-gray-round">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.linkedin.com/company/billntrade-com" class="social-icon-sm si-dark si-colored-linkedin si-gray-round">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>

                        <hr class="mb40">
                        <h4 class="mb40 text-uppercase font500">About the Author</h4>
                        <div class="media mb40">
                            <div class="media-body">
                                <h5 class="mt-0 font700">Tom Cakebread</h5> Hi, I'm Tom
                                I enjoy writing about the trades, and supporting tradespeople and customers where I
                                can as an independent consultant.
                            </div>
                        </div>
                        </form>
                    </div>
                </article>
                <!-- post article-->

            </div>
            <div class="col-md-3 mb30">
                <div class="mb30">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..."
                                aria-describedby="basic-addon2">
                            <!-- <button class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></button> -->
                        </div>
                    </form>
                </div>
                <div>
                    <h4 class="sidebar-title">Other blogs</h4>
                    <ul class="list-unstyled">
                        <li class="media">
                            <img class="d-flex mr-3 img-fluid" width="64"
                                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="{% url 'blogs' %}">7 essential tips to help you successfully deal with mould in your home</a></h5> Apr, 2021
                            </div>
                        </li>
                        <li class="media my-4">
                            <img class="d-flex mr-3 img-fluid" width="64"
                                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="{% url 'blog3' %}">14 Essential tips to help homeowners and builders with projects</a></h5> Aug, 2021
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex mr-3 img-fluid" width="64"
                                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href="{% url 'blog4' %}">How electricians are supporting homeowners with solar</a></h5> Sep, 2021
                            </div>
                        </li>
                        <li class="media">
                                <img class="d-flex mr-3 img-fluid" width="64"
                                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href="{% url 'blog5' %}">Your essential 7 point guide to how builders can help you with asbestos removal</a></h5> Sep, 2021
                                </div>
                        </li>
                        <li class="media">
                                <img class="d-flex mr-3 img-fluid" width="64"
                                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                        <h5 class="mt-0 mb-1"><a href="{% url 'blog6' %}">The 12 step essential guide to protecting your home from cold weather damage</a></h5> Sep, 2021
                        </div>
                    </li>
                    <li class="media">
                            <img class="d-flex mr-3 img-fluid" width="64"
                                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="{% url 'blog7' %}">A 10 step guide to a kitchen renovation project for homeowners on a budget</a></h5> Sep, 2021
                            </div>
                        </li>
                        <li class="media">
                                <img class="d-flex mr-3 img-fluid" width="64"
                                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                        <h5 class="mt-0 mb-1"><a href="{% url 'blog8' %}">Your essential 18 point guide to organising a home move</a></h5> Oct, 2021
                        </div>
                    </li>
                    <li class="media">
                            <img class="d-flex mr-3 img-fluid" width="64"
                                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                        <h5 class="mt-0 mb-1"><a href="{% url 'blog9' %}">Why apprentices are improtant for the future of the trade</a></h5> Oct, 2021
                    </div>
                </li>
                <li class="media">
                        <img class="d-flex mr-3 img-fluid" width="64"
                            src="https://bootdey.com/img/Content/avatar/avatar2.png"
                            alt="Generic placeholder image">
                        <div class="media-body">
                    <h5 class="mt-0 mb-1"><a href="{% url 'blog10' %}">17 essential tips to help you with hydroponic gardening</a></h5> Nov, 2021
                </div>
            </li>
            <li class="media">
                    <img class="d-flex mr-3 img-fluid" width="64"
                        src="https://bootdey.com/img/Content/avatar/avatar2.png"
                        alt="Generic placeholder image">
                    <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="{% url 'blog11' %}">6 points to consider in a garange conversion</a></h5> Nov, 2021
            </div>
        </li>
        <li class="media">
                <img class="d-flex mr-3 img-fluid" width="64"
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    alt="Generic placeholder image">
                <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="{% url 'blog12' %}">13 steps to de-clutter a storage room and make money</a></h5> Dec, 2021
        </div>
    </li>
    <li class="media">
            <img class="d-flex mr-3 img-fluid" width="64"
                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                alt="Generic placeholder image">
            <div class="media-body">
        <h5 class="mt-0 mb-1"><a href="{% url 'blog13' %}">12 quick tips to reduce the risk of a burglary at your home</a></h5> Jan, 2022
    </div>
</li>
<li class="media">
        <img class="d-flex mr-3 img-fluid" width="64"
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="Generic placeholder image">
        <div class="media-body">
    <h5 class="mt-0 mb-1"><a href="{% url 'blog14' %}">How to Find a builder</a></h5> Feb, 2022
</div>
</li>
<li class="media">
        <img class="d-flex mr-3 img-fluid" width="64"
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="Generic placeholder image">
        <div class="media-body">
    <h5 class="mt-0 mb-1"><a href="{% url 'blog15' %}">Hire a builder</a></h5> Feb, 2022
</div>
</li>
<li class="media">
        <img class="d-flex mr-3 img-fluid" width="64"
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="Generic placeholder image">
        <div class="media-body">
    <h5 class="mt-0 mb-1"><a href="{% url 'blog16' %}">Hire a plumber</a></h5> Mar, 2022
</div>
</li>
<li class="media">
        <img class="d-flex mr-3 img-fluid" width="64"
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="Generic placeholder image">
        <div class="media-body">
    <h5 class="mt-0 mb-1"><a href="{% url 'blog17' %}">Electrical safety dos and donts for homeowners</a></h5> Apr, 2022
</div>
</li>
<li class="media">
        <img class="d-flex mr-3 img-fluid" width="64"
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="Generic placeholder image">
        <div class="media-body">
    <h5 class="mt-0 mb-1"><a href="{% url 'blog18' %}">How to find a reliable Electrician</a></h5> Apr, 2022
</div>
</li>
<li class="media">
        <img class="d-flex mr-3 img-fluid" width="64"
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="Generic placeholder image">
        <div class="media-body">
    <h5 class="mt-0 mb-1"><a href="{% url 'blog19' %}">Plumbing dos and donts for home and property owners</a></h5> Apr, 2022
</div>
</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        <strong>&copy; Copyright 2021 -
                            <script>new Date().getFullYear() > 2017 && document.write(+ new Date().getFullYear());</script>, Billntrade
                            Ltd</strong>. All Rights Reserved
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="{% url 'terms-conditions' %}">Terms and Conditions</a>
                        <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
                        <a href="{% url 'cookies' %}">Cookies</a>
                        <a href="{% url 'blogs' %}">Blogs</a>
                        <a href="{% url 'about-us' %}">About us</a>
                        <a href="{% url 'sitemap' %}">Sitemap</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <style>
        .brand {
            width: 14rem;
            margin-left: 2rem;
            /* border: 2px solid lime; */
        }
    </style>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="https://bootstrapmade.com/demo/assets/js/jquery-3.1.0.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons@4.10.0/dist/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            feather.replace();

            $('button').click(function () {
                $('.alert').html('<i data-feather="activity"></i>');
                feather.replace();
            });

        });
    </script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>


<script>
    body{
        margin - top: 20px;
    }
/*
Blog post entries
*/

.entry - card {
        -webkit - box - shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        -moz - box - shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        box - shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    }

.entry - content {
        background - color: #fff;
        padding: 36px 36px 36px 36px;
        border - bottom - left - radius: 6px;
        border - bottom - right - radius: 6px;
    }

.entry - content.entry - title a {
        color: #333;
    }

.entry - content.entry - title a: hover {
        color: #4782d3;
    }

.entry - content.entry - meta span {
        font - size: 12px;
    }

.entry - title {
        font - size: .95rem;
        font - weight: 500;
        margin - bottom: 15px;
    }

.entry - thumb {
        display: block;
        position: relative;
        overflow: hidden;
        border - top - left - radius: 6px;
        border - top - right - radius: 6px;
    }

.entry - thumb img {
        border - top - left - radius: 6px;
        border - top - right - radius: 6px;
    }

.entry - thumb.thumb - hover {
        position: absolute;
        width: 100px;
        height: 100px;
        background: rgba(71, 130, 211, 0.85);
        display: block;
        top: 50 %;
        left: 50 %;
        color: #fff;
        font - size: 40px;
        line - height: 100px;
        border - radius: 50 %;
        margin - top: -50px;
        margin - left: -50px;
        text - align: center;
        transform: scale(0);
        -webkit - transform: scale(0);
        opacity: 0;
        transition: all .3s ease -in -out;
        -webkit - transition: all .3s ease -in -out;
    }

.entry - thumb: hover.thumb - hover {
        opacity: 1;
        transform: scale(1);
        -webkit - transform: scale(1);
    }

.article - post {
        border - bottom: 1px solid #eee;
        padding - bottom: 70px;
    }

.article - post.post - thumb {
        display: block;
        position: relative;
        overflow: hidden;
    }

.article - post.post - thumb.post - overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100 %;
        height: 100 %;
        background - color: rgba(0, 0, 0, 0.6);
        transition: all .3s;
        -webkit - transition: all .3s;
        opacity: 0;
    }

.article - post.post - thumb.post - overlay span {
        width: 100 %;
        display: block;
        vertical - align: middle;
        text - align: center;
        transform: translateY(70 %);
        -webkit - transform: translateY(70 %);
        transition: all .3s;
        -webkit - transition: all .3s;
        height: 100 %;
        color: #fff;
    }

.article - post.post - thumb: hover.post - overlay {
        opacity: 1;
    }

.article - post.post - thumb: hover.post - overlay span {
        transform: translateY(50 %);
        -webkit - transform: translateY(50 %);
    }

.post - content.post - title {
        font - weight: 500;
    }

.post - meta {
        padding - top: 15px;
        margin - bottom: 20px;
    }

.post - meta li: not(: last - child) {
        margin - right: 10px;
    }

.post - meta li a {
        color: #999;
        font - size: 13px;
    }

.post - meta li a: hover {
        color: #4782d3;
    }

.post - meta li i {
        margin - right: 5px;
    }

.post - meta li: after {
        margin - top: -5px;
        content: "/";
        margin - left: 10px;
    }

.post - meta li: last - child: after {
        display: none;
    }

.post - masonry.masonry - title {
        font - weight: 500;
    }

.share - buttons li {
        vertical - align: middle;
    }

.share - buttons li a {
        margin - right: 0px;
    }

.post - content.fa {
        color: #ddd;
    }

.post - content a h2 {
        font - size: 1.5rem;
        color: #333;
        margin - bottom: 0px;
    }

.article - post.owl - carousel {
        margin - bottom: 20px!important;
    }

.post - masonry h4 {
        text - transform: capitalize;
        font - size: 1rem;
        font - weight: 700;
    }
.mb40 {
        margin - bottom: 40px!important;
    }
.mb30 {
        margin - bottom: 30px!important;
    }
.media - body h5 a {
        color: #555;
    }
.categories li a: before {
        content: "\f0da";
        font - family: 'FontAwesome';
        margin - right: 5px;
    }
/*
Template sidebar
*/

.sidebar - title {
        margin - bottom: 1rem;
        font - size: 1.1rem;
    }

.categories li {
        vertical - align: middle;
    }

.categories li > ul {
        padding - left: 15px;
    }

.categories li > ul > li > a {
        font - weight: 300;
    }

.categories li a {
        color: #999;
        position: relative;
        display: block;
        padding: 5px 10px;
        border - bottom: 1px solid #eee;
    }

.categories li a: before {
        content: "\f0da";
        font - family: 'FontAwesome';
        margin - right: 5px;
    }

.categories li a: hover {
        color: #444;
        background - color: #f5f5f5;
    }

.categories > li.active > a {
        font - weight: 600;
        color: #444;
    }

.media - body h5 {
        font - size: 15px;
        letter - spacing: 0px;
        line - height: 20px;
        font - weight: 400;
    }

.media - body h5 a {
        color: #555;
    }

.media - body h5 a: hover {
        color: #4782d3;
    }

</script>

<style>
        .responsive {
          width: 100%;
          height: auto;
        }
</style>