{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="container w-50 mx-auto pt-5 pb-5 mt-5 shadow">
        <div>
            <h5 class="text-center text-primary">Business Account Created Successfully</h5>
        </div>
        <div>
            <p class="text-center">
                Your account has been created successfully.
                The last step is to activate your account,
                please check your email (AND YOUR SPAN FOLDER) for activation instructions.

            </p>
        </div>
    </div>
</div>

{% endblock %}