{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="mb-5"></div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5 style=width: 18rem;">

            <div class="card-body">

                <div class="card-block text-center">
                    <div class="card-title py-2">
                        <h5>Reset business password</h5>
                    </div>
                </div>
                <br>


                <form action="{% url 'business-password-reset' %}" method="post">

                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}

                    <div class="form-group col-md-12">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div>
                        <input type="submit" value="Send" class="btn btn-block btn-primary submit-btn">
                    </div>
                    <br>
                    <div>
                        <small class="py-3 card-block text-center">
                            <div class="float-left">
                                <p>Need an account? <a href="{% url 'business-register' %}">Register</a></p>
                            </div>
                            <div class="float-right">
                                <p>Login? <a href="{% url 'business-login' %}">Business Login</a></p>
                            </div>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}