{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="container w-50 mx-auto pt-5 pb-5 mt-5 shadow">
        <div>
            <h5 class="text-center text-primary">Password Reset Successfully!</h5>
        </div>
        <div>
            <p class="text-center">
                Your password has been reset successfully.
            </p>
        </div>
        <div class="row mx-auto mt-3 col-sm-10">
            <div class="col-sm d-flex justify-content-center">
                <a href="{% url 'login-view' %}">Login as a Customer</a>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <a href="{% url 'business-login' %}">Login as a Business User</a>
            </div>
        </div>
    </div>

    {% endblock %}