{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5 style=width: 18rem;">

            <div class="card-body">

                <div class="card-block text-center">
                    <div class="card-title py-2">
                        <h5>Reset Your Password</h5>
                    </div>
                </div>
                <br>
                <form method="post">
                    {% csrf_token %}


                    {% for error in  form.non_field_errors%}
                    <span class="text-small text-danger">{{ error }}</span>
                    {% endfor %}


                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" placeholder="New Password" name="new_password1"
                            value="{{.new_password1}}">
                        {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                        <span class="text-small text-danger">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" placeholder="Confirm New Password"
                            name="new_password2" value="{{values.new_password2}}">
                        {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                        <span class="text-small text-danger">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <input type="submit" value="Reset Password" class="btn btn-block btn-primary submit-btn">
                    </div>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}
