{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="container w-50 mx-auto pt-5 pb-5 mt-5 shadow">
        <div>
            <h5 class="text-center text-primary">An Email has been sent!</h5>
        </div>
        <div>
            <p class="text-center">
                Please check your email for password reset instructions.
            </p>
        </div>
    </div>

    {% endblock %}